<html>

<head>
    <h1>Person Page! Serenity Now!</h1>

    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
    <h3>Person : <%= ID %> </h3>
    <h5>qstr Value: <%= Qstr %></h5>
</body>

</html>